*{
  font-family: 'Poppins', sans-serif;
}

.summaryBox{
  min-height: 150px;
  border: 1px solid black;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  letter-spacing: 2px;
  font-weight: bold;

}

.summaryBox div {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  /* border-left: 1px solid black; */
}