*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #5d4954;
    font-family: 'Poppins', sans-serif;
}

.logo {
    color: rgb(226, 226, 226);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 22px;
    cursor: pointer;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 20%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
    transition: all 0.3s ease;
}

.burger {
    display: none;
}

@media screen and (max-width: 2550px) {
    body {
        overflow-x: hidden;
        /* overflow-y: hidden; */
        align-items: center;
    }
    .nav-links {
        width: 20%;
    }

    section {
        padding-left: 10%;
        padding-bottom: 30%;
    }
}

@media screen and (max-width: 2048px) {
    .nav-links {
        width: 30%;
    }

    section{
        padding-left: 0px;
    }
}

@media screen and (max-width: 1024px) {
    .nav-links {
        width: 50%;
    }


}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #5d4954;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .nav-links li{
        opacity: 0;
    }

    .burger{
        display: block;
        cursor: pointer;
    }

    .presentation h1 {
        width: 92%;
        padding-bottom: 20px;
    }

    .introduction {
        width: 45%;
    } 
}

@media screen and (max-width: 747px) {

    .presentation {
        width: 100%;
        align-items: center;
    }
    .presentation h1 {
        width: 70%;
        padding-left: 25%;
        align-items: center;
        padding-bottom: 20px;
    }

    .introduction {
        width: 45%;
    } 
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}


body{
    background-color: #EDE3E4;
}

section {
    height: 100%;
}
.presentation{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    display: flex;
    width: 90%;
    min-height: 30vh;
    align-items: center;
    margin: 25%;
    font-weight: 500;
}

.presentation h1 {
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 36px;
}

.presentation p{
    letter-spacing: 0;
    font-family: 'Poppins', sans-serif;
}

.view{
    font-size: 15px;
    /* padding: 0px 0px 0px 10px; */
    margin-top: 20px;
    /* margin-left: 10px; */
    /* border: 2px solid #A9B2AC; */
    border: 2px solid #645a5e;
    background: transparent;
    background-color: #AF9FA5;
    width: 150px;
    height: 50px;
    cursor: pointer;
}